Repository anchildress1/devto-mirror: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, isort, actionlint

format:
  run: uv run black {staged_files}
  stage_fixed: true

lint:
  run: uv run flake8 {staged_files}

isort:
  run: uv run isort {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}

fix(make): fail the complexity gate when radon itself fails
  Makefile
Due: none

docs: align docs with the single-store generator
  .env.example
  AGENTS.md
  README.md
  docs/AGENTS.md
  docs/CI_GUIDE.md
  docs/COMPLEXITY_REFACTORING.md
  docs/DEV_GUIDE.md
  docs/ENV_FIXES.md
  docs/MIGRATION_PLAN.md
  docs/README.md
  docs/SECURITY_ANALYSIS.md
Due: none

build(make): add make dev for a local test build of the site
  .gitignore
  AGENTS.md
  Makefile
  README.md
  docs/DEV_GUIDE.md
Due: none

refactor: resolve Sonar code smells from the generator rebuild
  src/devto_mirror/site_generation/seo.py
  tests/test_api_client.py
  tests/test_post.py
Due: format, lint, isort

chore: remove dead lint and security tool config
  .bandit.yaml
  .flake8
  .radon.cfg
  pyproject.toml
Due: none

ci: fail security CI when checks rewrite tracked files
  .github/workflows/security-ci.yml
Due: actionlint

fix(html): turn empty heading self-links into fragment targets
  src/devto_mirror/core/html_sanitization.py
  tests/test_html_sanitization.py
Due: format, lint, isort

fix: harden canonical host check and log bad Retry-After headers
  src/devto_mirror/core/api_client.py
  src/devto_mirror/site_generation/post.py
  tests/test_api_client.py
  tests/test_post.py
Due: format, lint, isort

feat(seo): block AI training crawlers, keep search and live AI retrieval
  README.md
  src/devto_mirror/site_generation/generator.py
  src/devto_mirror/templates/base.html
  src/devto_mirror/templates/llms.txt
  src/devto_mirror/templates/robots.txt
  tests/test_generator.py
Due: format, lint, isort

fix: correct Retry-After parsing and the sync drop-guard denominator
  src/devto_mirror/core/api_client.py
  tests/test_api_client.py
Due: format, lint, isort

fix: keep canonical URLs on Dev.to and normalize tags
  src/devto_mirror/site_generation/post.py
  tests/test_post.py
Due: format, lint, isort

fix: validate the store and defer its write until render succeeds
  src/devto_mirror/site_generation/generator.py
  tests/test_generator.py
Due: format, lint, isort

build: point the package author email at the primary address
  pyproject.toml
Due: none

feat(ui): give mirror pages a minimal readable stylesheet
  src/devto_mirror/templates/base.html
  src/devto_mirror/templates/index.html
  src/devto_mirror/templates/post.html
  tests/test_generator.py
Due: format, lint, isort

feat(seo): add article properties, sitemap lastmod and LCP hint
  src/devto_mirror/templates/comment.html
  src/devto_mirror/templates/post.html
  src/devto_mirror/templates/sitemap.xml
  tests/test_generator.py
Due: format, lint, isort

fix: index comment pages and the home page in llms.txt
  src/devto_mirror/site_generation/generator.py
  src/devto_mirror/templates/llms.txt
  tests/test_generator.py
Due: format, lint, isort

fix(ci): resolve Sonar supply-chain vulnerabilities and a detect-secrets gate that never failed (#111)
  .github/actions/generate-site/action.yml
  .github/workflows/publish.yaml
  .github/workflows/security-ci.yml
  .secrets.baseline
  .sonarcloud.properties
  Makefile
  scripts/check_detect_secrets.py
  scripts/prechecks.sh
  sonar-project.properties
Due: format, lint, isort, actionlint

build(deps): update all dependencies to latest (#112)
  .github/actions/generate-site/action.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yaml
  .github/workflows/release-please.yml
  .github/workflows/security-ci.yml
  pyproject.toml
  src/devto_mirror/core/utils.py
  tests/test_coverage_smoke.py
  tests/test_renderer.py
  uv.lock
Due: format, lint, isort, actionlint

feat(seo): welcome search and live AI retrieval, block AI training, style pages (#114)
  README.md
  pyproject.toml
  src/devto_mirror/core/html_sanitization.py
  src/devto_mirror/site_generation/generator.py
  src/devto_mirror/templates/base.html
  src/devto_mirror/templates/comment.html
  src/devto_mirror/templates/index.html
  src/devto_mirror/templates/llms.txt
  src/devto_mirror/templates/post.html
  src/devto_mirror/templates/robots.txt
  src/devto_mirror/templates/sitemap.xml
  tests/test_generator.py
  tests/test_html_sanitization.py
Due: format, lint, isort

chore: update dev.to mirror state 985d7ab48005a21b9be9de4303ba75ed36f43dee
  last_run.txt
  posts_data.json
Due: none

chore(main): release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
Due: format, lint, isort

chore: sync uv.lock with release version
  uv.lock
Due: none

chore(main): release 1.3.0 (#102)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
  uv.lock
Due: format, lint, isort

ci(deps): align codeql-action init pin with analyze at v4.38.1
  .github/workflows/codeql.yml
Due: actionlint

chore: update dev.to mirror state 438d3f366ab2d5e586c57f60bd861cabe4fe4adc
  posts_data.json
Due: none

Path conditions:
  format: any of: *.py
  lint: any of: *.py
  isort: any of: *.py
  actionlint: any of: .github/workflows/*.y*ml
