Repository anchildress1/devto-mirror: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, isort, actionlint

format:
  run: uv run black {staged_files}
  stage_fixed: true

lint:
  run: uv run flake8 {staged_files}

isort:
  run: uv run isort {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}

chore(main): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
Due: format, lint, isort

docs(changelog): rewrite changelog and update version
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
  uv.lock
Due: format, lint, isort

chore(main): release 1.0.0 (#55)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
  uv.lock
Due: format, lint, isort

chore: deploy dev.to mirror (timestamp only) 0ec7d10514bb0e7f5ae926ebb8679dfd3a67e61b
  last_run.txt
Due: none

chore: algolia verification
  algolia_verification.html
Due: none

chore: deploy dev.to mirror 8c1558150251dbc045039cb64006b3fd1ef20996
  algolia_verification.html
  last_run.txt
  posts/all-ive-learned-about-github-copilot-instructions-so-far-5bm7.html
  posts/build-it-better-real-world-ai-coding-with-github-copilot-1d47.html
  posts/can-we-set-the-record-straight-ai-content-and-a-bit-of-sanity-1inj.html
  posts/codeck-presents-verdent-ai-they-wanted-opinions-i-have-plenty-5ccl.html
  posts/copilot-premium-requests-more-than-asked-exactly-what-you-need-8ph.html
  posts/demystifying-coding-agent-prompts-that-always-work-2on7.html
  posts/did-ai-erase-attribution-your-git-history-is-missing-a-co-author-1m2l.html
  posts/dont-judge-this-version-of-the-submission-but-it-was-driving-me-insane-that-i-didnt-have-time-to-56o6.html
  posts/everything-i-know-about-github-copilot-instructions-from-zero-to-onboarded-for-real-4nb0.html
  posts/fact-checking-the-fear-behind-the-dark-side-of-ai-the-real-story-366p.html
  posts/from-hell-loops-to-happy-commits-38c4.html
  posts/github-coding-agent-the-magical-autonomous-ai-the-prequel-4h11.html
  posts/github-copilot-agent-mode-the-mistake-you-never-want-to-make-1mmh.html
  posts/github-copilot-chat-modes-explained-with-personality-2f4c.html
  posts/github-copilot-chat-modes-from-chaos-to-command-54k0.html
  posts/github-copilot-everything-you-wanted-to-know-about-reusable-and-experimental-prompts-part-1-iff.html
  posts/github-copilot-reusable-prompts-part-2-walkthrough-real-examples-17mh.html
  posts/github-copilot-reusable-prompts-part-3-more-experiments-more-mayhem-552b.html
  posts/herding-cats-in-pajamas-teamwork-across-time-zones-242n.html
  posts/how-i-blog-with-bots-but-you-can-still-blame-me-2861.html
  posts/i-genuinely-meant-it-when-i-said-i-was-done-i-even-had-that-rare-fragile-sense-of-closure-then-i-1cna.html
  posts/leash-not-autopilot-building-predictable-ai-behavior-with-copilot-instructions-14ip.html
  posts/letting-ai-drive-a-month-of-building-with-github-copilot-4a94.html
  posts/magical-coding-agent-the-ship-ready-spellbook-2mbf.html
  posts/medium-and-the-blanket-ai-ban-2cni.html
  posts/my-portfolio-doesnt-live-on-the-page-218e.html
  posts/oh-i-have-big-news-guess-what-i-got-yesterday-1jca.html
  posts/reposting-in-case-you-missed-it-the-first-time-because-blaming-ai-is-the-easy-way-out-but-this-1ga1.html
  posts/signing-your-name-on-ai-assisted-commits-with-rai-footers-2b0o.html
  posts/so-this-was-just-a-test-you-made-it-a-thing-6df.html
  posts/top-10-github-copilot-updates-you-actually-need-to-know-about-297d.html
  posts/troubleshooting-production-with-github-copilot-the-guide-for-real-humans-and-bots-with-good-taste-253o.html
  posts/underfoot-the-chatpot-for-hidden-places-and-why-i-dont-do-hackathons-2684.html
  posts/waiting-with-intent-designing-ai-systems-for-the-long-game-1abg.html
  posts/weekend-hack-making-my-blog-ai-searchable-no-flames-required-16h5.html
  posts/what-in-the-world-is-github-coding-agent-2m8p.html
  posts/what-ive-learned-about-github-copilot-agent-mode-4co2.html
  posts_data.json
Due: none

chore: algolia verification 2
  algolia_verification.html
  assets/robots.txt
Due: none

chore: deploy dev.to mirror e3845ecf14e7ec9632e071adf79cae07d2aaf5b9
  algolia_verification.html
  last_run.txt
  posts/all-ive-learned-about-github-copilot-instructions-so-far-5bm7.html
  posts/build-it-better-real-world-ai-coding-with-github-copilot-1d47.html
  posts/can-we-set-the-record-straight-ai-content-and-a-bit-of-sanity-1inj.html
  posts/codeck-presents-verdent-ai-they-wanted-opinions-i-have-plenty-5ccl.html
  posts/copilot-premium-requests-more-than-asked-exactly-what-you-need-8ph.html
  posts/demystifying-coding-agent-prompts-that-always-work-2on7.html
  posts/did-ai-erase-attribution-your-git-history-is-missing-a-co-author-1m2l.html
  posts/dont-judge-this-version-of-the-submission-but-it-was-driving-me-insane-that-i-didnt-have-time-to-56o6.html
  posts/everything-i-know-about-github-copilot-instructions-from-zero-to-onboarded-for-real-4nb0.html
  posts/fact-checking-the-fear-behind-the-dark-side-of-ai-the-real-story-366p.html
  posts/from-hell-loops-to-happy-commits-38c4.html
  posts/github-coding-agent-the-magical-autonomous-ai-the-prequel-4h11.html
  posts/github-copilot-agent-mode-the-mistake-you-never-want-to-make-1mmh.html
  posts/github-copilot-chat-modes-explained-with-personality-2f4c.html
  posts/github-copilot-chat-modes-from-chaos-to-command-54k0.html
  posts/github-copilot-everything-you-wanted-to-know-about-reusable-and-experimental-prompts-part-1-iff.html
  posts/github-copilot-reusable-prompts-part-2-walkthrough-real-examples-17mh.html
  posts/github-copilot-reusable-prompts-part-3-more-experiments-more-mayhem-552b.html
  posts/how-i-blog-with-bots-but-you-can-still-blame-me-2861.html
  posts/i-genuinely-meant-it-when-i-said-i-was-done-i-even-had-that-rare-fragile-sense-of-closure-then-i-1cna.html
  posts/is-github-copilot-safe-the-fun-and-hard-truth-about-responsible-ai-3b95.html
  posts/leash-not-autopilot-building-predictable-ai-behavior-with-copilot-instructions-14ip.html
  posts/letting-ai-drive-a-month-of-building-with-github-copilot-4a94.html
  posts/magical-coding-agent-the-ship-ready-spellbook-2mbf.html
  posts/medium-and-the-blanket-ai-ban-2cni.html
  posts/my-portfolio-doesnt-live-on-the-page-218e.html
  posts/oh-i-have-big-news-guess-what-i-got-yesterday-1jca.html
  posts/reposting-in-case-you-missed-it-the-first-time-because-blaming-ai-is-the-easy-way-out-but-this-1ga1.html
  posts/signing-your-name-on-ai-assisted-commits-with-rai-footers-2b0o.html
  posts/so-this-was-just-a-test-you-made-it-a-thing-6df.html
  posts/three-ais-and-a-funeral-my-take-on-gpt-5-3f3e.html
  posts/troubleshooting-production-with-github-copilot-the-guide-for-real-humans-and-bots-with-good-taste-253o.html
  posts/underfoot-the-chatpot-for-hidden-places-and-why-i-dont-do-hackathons-2684.html
  posts/weekend-hack-making-my-blog-ai-searchable-no-flames-required-16h5.html
  posts/what-in-the-world-is-github-coding-agent-2m8p.html
  posts/what-ive-learned-about-github-copilot-agent-mode-4co2.html
  robots.txt
Due: none

chore: deploy dev.to mirror (timestamp only) 1552d90ff244cfa7ac132cb839241078e68dfc14
  last_run.txt
Due: none

chore: add validate algolia project
  .github/workflows/publish.yaml
  assets/robots.txt
Due: actionlint

chore: deploy dev.to mirror (timestamp only) 8cc8717ea5f301512720d60523c65d79d73d00ee
  last_run.txt
  robots.txt
Due: none

fix(deps): resolve urllib3 and idna CVEs blocking CI (#83)
  .github/workflows/publish.yaml
  .github/workflows/security-ci.yml
  pyproject.toml
  uv.lock
Due: actionlint

chore: deploy dev.to mirror (timestamp only) c0bd81143f66eee4b8ce3f2967da0556cc9244ad
  last_run.txt
Due: none

Update CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

feat(ci): deploy to Firebase Hosting; keep gh-pages as callable fork workflow
  .firebaserc
  .github/actions/generate-site/action.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/publish.yaml
  README.md
  docs/CI_GUIDE.md
  firebase.json
Due: actionlint

chore(deps): bump GitHub Actions to latest
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
  .github/workflows/security-ci.yml
Due: actionlint

chore: seed mirror-state from gh-pages
  last_run.txt
  posts_data.json
Due: none

refactor(ci): move upstream incremental state to a dedicated mirror-state branch
  .github/actions/generate-site/action.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/publish.yaml
  README.md
  docs/CI_GUIDE.md
Due: actionlint

chore(deps): upgrade all Python dependencies to latest
  uv.lock
Due: none

fix(ci): address PR review — fork guard, site-URL fallback, schedule docs
  .github/actions/generate-site/action.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/publish.yaml
  docs/CI_GUIDE.md
Due: actionlint

feat(ci): Firebase Hosting deploy + gh-pages as callable fork workflow (#90)
  .firebaserc
  .github/actions/generate-site/action.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/publish.yaml
  .github/workflows/security-ci.yml
  README.md
  docs/CI_GUIDE.md
  firebase.json
  uv.lock
Due: actionlint

fix(ai-optimization): use logging.exception in error handlers
  src/devto_mirror/ai_optimization/cross_reference.py
  src/devto_mirror/ai_optimization/sitemap_generator.py
Due: format, lint, isort

fix(ci): sync uv.lock in release-please PR
  .github/workflows/release-please.yml
Due: actionlint

fix(ci): pin Python 3.12 and enable cache for uv lock sync
  .github/workflows/release-please.yml
Due: actionlint

fix(ci): sync uv.lock in release PR + use logging.exception (#92)
  .github/workflows/release-please.yml
  src/devto_mirror/ai_optimization/cross_reference.py
  src/devto_mirror/ai_optimization/sitemap_generator.py
Due: format, lint, isort, actionlint

chore(main): release 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
Due: format, lint, isort

chore: sync uv.lock with release version
  uv.lock
Due: none

chore(main): release 1.1.0 (#91)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
  uv.lock
Due: format, lint, isort

chore: update dev.to mirror state 08eb167c525b5691810a9bd2418266f7ab8cc1fc
  .nojekyll
  last_run.txt
  posts_data.json
Due: none

feat(analytics): add opt-in Firebase Analytics to generated pages
  .github/actions/generate-site/action.yml
  .github/workflows/publish.yaml
  src/devto_mirror/core/utils.py
  src/devto_mirror/site_generation/generator.py
  src/devto_mirror/templates/post_template.html
  tests/test_core_utils.py
Due: format, lint, isort, actionlint

fix(ci): pass FIREBASE_WEB_CONFIG to renderer step
  .github/actions/generate-site/action.yml
Due: none

ci(lefthook): run full ai-checks on pre-push
  lefthook.yml
Due: none

ci(lefthook): run long tests on pre-push, not pre-commit's checks
  lefthook.yml
Due: none

Path conditions:
  format: any of: *.py
  lint: any of: *.py
  isort: any of: *.py
  actionlint: any of: .github/workflows/*.y*ml
