Repository anchildress1/devto-mirror: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, isort, actionlint

format:
  run: uv run black {staged_files}
  stage_fixed: true

lint:
  run: uv run flake8 {staged_files}

isort:
  run: uv run isort {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}

feat(analytics): opt-in Firebase Analytics on generated pages (#93)
  .github/actions/generate-site/action.yml
  .github/workflows/publish.yaml
  lefthook.yml
  src/devto_mirror/core/utils.py
  src/devto_mirror/site_generation/generator.py
  src/devto_mirror/templates/post_template.html
  tests/test_core_utils.py
Due: format, lint, isort, actionlint

chore: update dev.to mirror state f79789dab299ca57f188f151dfc2f59cb78eba64
  last_run.txt
Due: none

docs: align all documentation with current code and deploy topology
  LICENSE
  README.md
  SECURITY.md
  assets/llms.txt
  docs/CI_GUIDE.md
  docs/DEV_GUIDE.md
  docs/MIGRATION_PLAN.md
Due: none

docs(dev-guide): frame Firebase as primary deploy, Pages as fork fallback
  docs/DEV_GUIDE.md
Due: none

docs: address PR review — fork state branch, gh-pages reset, mermaid label
  README.md
  docs/DEV_GUIDE.md
Due: none

docs: align all documentation with current code and deploy topology (#95)
  LICENSE
  README.md
  SECURITY.md
  assets/llms.txt
  docs/CI_GUIDE.md
  docs/DEV_GUIDE.md
  docs/MIGRATION_PLAN.md
Due: none

chore(main): release 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
Due: format, lint, isort

chore: sync uv.lock with release version
  uv.lock
Due: none

chore(main): release 1.2.0 (#94)
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
  uv.lock
Due: format, lint, isort

chore: update dev.to mirror state 7a5a7b1b6b994854a3aece30bd5810e7748659f7
  last_run.txt
  posts_data.json
Due: none

chore(deps-dev): replace gitlint with gitlint-rai
  pyproject.toml
  uv.lock
Due: none

feat(ci): enforce RAI attribution footers on commit
  lefthook.yml
Due: none

fix(ci): pin rai-commit-badge action to commit SHA
  .github/workflows/rai-attribution.yml
Due: actionlint

feat(ci): publish RAI attribution badge via rai-commit-badge
  .github/workflows/rai-attribution.yml
  README.md
Due: actionlint

chore: update dev.to mirror state 393dbf5b6f1e5e2b2620085470a441753a261d19
  last_run.txt
  posts_data.json
Due: none

chore: update dev.to mirror state 8706b46496075a76cdaef7a4e3c20f4c7abdd7e7
  last_run.txt
Due: none

chore(main): release 1.2.1
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/devto_mirror/__init__.py
Due: format, lint, isort

chore: update dev.to mirror state d2c0f5e05b3707afa2c8e7e7b0e3c2506bbfbfa2
  last_run.txt
Due: none

chore: update dev.to mirror state 6f28e75459e4978053f6e235f5e6991d197f2b36
  last_run.txt
  posts_data.json
Due: none

chore: update dev.to mirror state 02d5414a3bc39832786b1715a5845ebf08aaad75
  last_run.txt
  posts_data.json
Due: none

fix(ci): block build scripts and lockfile drift in CI installs
  .github/actions/generate-site/action.yml
  .github/workflows/publish.yaml
  .github/workflows/security-ci.yml
Due: actionlint

fix(sonar): move config to .sonarcloud.properties
  .sonarcloud.properties
  sonar-project.properties
Due: none

fix(scripts): make detect-secrets gate fail on unbaselined secrets
  .secrets.baseline
  scripts/check_detect_secrets.py
Due: format, lint, isort

refactor(scripts): remove redundant prechecks script
  Makefile
  scripts/prechecks.sh
Due: none

fix(ci): restore state-branch ref after the checkout depth change
  .github/actions/generate-site/action.yml
Due: none

fix(ci): extend locked/no-build to every uv run in security CI
  .github/workflows/security-ci.yml
Due: actionlint

build(deps): bump Python dependencies to latest
  pyproject.toml
  uv.lock
Due: none

ci(deps): bump pinned actions and firebase-tools to latest
  .github/actions/generate-site/action.yml
  .github/workflows/codeql.yml
  .github/workflows/publish.yaml
  .github/workflows/release-please.yml
  .github/workflows/security-ci.yml
Due: actionlint

ci: skip drafts in CodeQL and scope release-please permissions to job
  .github/workflows/codeql.yml
  .github/workflows/release-please.yml
Due: actionlint

build(deps): bump Firebase JS SDK to 12.19.0
  src/devto_mirror/core/utils.py
Due: format, lint, isort

test: pin slugify fallback output before the v9 floor bump
  tests/test_coverage_smoke.py
  tests/test_renderer.py
Due: format, lint, isort

fix(html): keep tables and inline semantics in sanitized posts
  src/devto_mirror/core/html_sanitization.py
  tests/test_html_sanitization.py
Due: format, lint, isort

chore(scripts): drop bandit nosec markers the gate never needed
  scripts/check_detect_secrets.py
Due: format, lint, isort

fix: fail when FIREBASE_WEB_CONFIG is set but unusable
  src/devto_mirror/core/utils.py
  tests/test_core_utils.py
Due: format, lint, isort

Path conditions:
  format: any of: *.py
  lint: any of: *.py
  isort: any of: *.py
  actionlint: any of: .github/workflows/*.y*ml
